@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: #F3F8FF;
  font-family: 'Roboto', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
