@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: whitesmoke;
  width: auto;
  height: 100vh;
}

main {
  width: auto;
  height:925px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
